<section class="categories">
    <div class="container">
        <div id="small-categories" class="owl-carousel owl-carousel-icons2 owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage"
                    style="transform: translate3d(-3002px, 0px, 0px); transition: all 0.25s ease 0s; width: 7206px;">


                    <div class="owl-item cloned" style="width: 275.25px; margin-right: 25px;">
                        <div class="item">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <div class="cat-item text-center">
                                        <a href="classifieds-list.html"></a>
                                        <div class="cat-img"> <img
                                                src="assets/images/products/categories/furniture.png" alt="img">
                                        </div>
                                        <div class="cat-desc">
                                            <h5 class="mb-1">Home</h5> <small
                                                class="badge badge-pill badge-primary mr-2">12</small><span
                                                class="text-muted"> products</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 275.25px; margin-right: 25px;">
                        <div class="item">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <div class="cat-item text-center">
                                        <a href="classifieds-list.html"></a>
                                        <div class="cat-img"> <img
                                                src="assets/images/products/categories/electronics.png"
                                                alt="img"> </div>
                                        <div class="cat-desc">
                                            <h5 class="mb-1">Electronics</h5> <small
                                                class="badge badge-pill badge-primary mr-2">21</small><span
                                                class="text-muted"> products</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="owl-item" style="width: 275.25px; margin-right: 25px;">
                        <div class="item">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <div class="cat-item text-center">
                                        <a href="classifieds-list.html"></a>
                                        <div class="cat-img"> <img
                                                src="assets/images/products/categories/loan.png" alt="img">
                                        </div>
                                        <div class="cat-desc">
                                            <h5 class="mb-1">Real Estate</h5> <small
                                                class="badge badge-pill badge-primary mr-2">45</small><span
                                                class="text-muted"> products</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="owl-item" style="width: 275.25px; margin-right: 25px;">
                        <div class="item">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <div class="cat-item text-center">
                                        <a href="classifieds-list.html"></a>
                                        <div class="cat-img text-shadow1"> <img
                                                src="assets/images/products/categories/delivery-truck.png"
                                                alt="img"> </div>
                                        <div class="cat-desc">
                                            <h5 class="mb-1">Cars & Vehicles</h5> <small
                                                class="badge badge-pill badge-primary mr-2">25</small><span
                                                class="text-muted"> products</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 275.25px; margin-right: 25px;">
                        <div class="item">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <div class="cat-item text-center">
                                        <a href="classifieds-list.html"></a>
                                        <div class="cat-img"> <img
                                                src="assets/images/products/categories/call-center.png"
                                                alt="img"> </div>
                                        <div class="cat-desc">
                                            <h5 class="mb-1">Services</h5> <small
                                                class="badge badge-pill badge-primary mr-2">23</small><span
                                                class="text-muted"> products</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 275.25px; margin-right: 25px;">
                        <div class="item">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <div class="cat-item text-center">
                                        <a href="classifieds-list.html"></a>
                                        <div class="cat-img"> <img
                                                src="assets/images/products/categories/makeover.png" alt="img">
                                        </div>
                                        <div class="cat-desc">
                                            <h5 class="mb-1">Fashion & Beauty</h5> <small
                                                class="badge badge-pill badge-primary mr-2">52</small><span
                                                class="text-muted"> products</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 275.25px; margin-right: 25px;">
                        <div class="item">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <div class="cat-item text-center">
                                        <a href="classifieds-list.html"></a>
                                        <div class="cat-img"> <img
                                                src="assets/images/products/categories/graduation.png"
                                                alt="img"> </div>
                                        <div class="cat-desc">
                                            <h5 class="mb-1">Books </h5> <small
                                                class="badge badge-pill badge-primary mr-2">46</small><span
                                                class="text-muted"> products</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 275.25px; margin-right: 25px;">
                        <div class="item">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <div class="cat-item text-center">
                                        <a href="classifieds-list.html"></a>
                                        <div class="cat-img"> <img
                                                src="assets/images/products/categories/mobile.png" alt="img">
                                        </div>
                                        <div class="cat-desc">
                                            <h5 class="mb-1">Phones & Tablets</h5> <small
                                                class="badge badge-pill badge-primary mr-2">22</small><span
                                                class="text-muted"> products</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 275.25px; margin-right: 25px;">
                        <div class="item">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <div class="cat-item text-center">
                                        <a href="classifieds-list.html"></a>
                                        <div class="cat-img"> <img
                                                src="assets/images/products/categories/sketch.png" alt="img">
                                        </div>
                                        <div class="cat-desc">
                                            <h5 class="mb-1">Art & Artifacts</h5> <small
                                                class="badge badge-pill badge-primary mr-2">31</small><span
                                                class="text-muted"> products</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 275.25px; margin-right: 25px;">
                        <div class="item">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <div class="cat-item text-center">
                                        <a href="classifieds-list.html"></a>
                                        <div class="cat-img"> <img
                                                src="assets/images/products/categories/pets.png" alt="img">
                                        </div>
                                        <div class="cat-desc">
                                            <h5 class="mb-1">Pets</h5> <small
                                                class="badge badge-pill badge-primary mr-2">12</small><span
                                                class="text-muted"> products</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 275.25px; margin-right: 25px;">
                        <div class="item">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <div class="cat-item text-center">
                                        <a href="classifieds-list.html"></a>
                                        <div class="cat-img"> <img
                                                src="assets/images/products/categories/app.png" alt="img">
                                        </div>
                                        <div class="cat-desc">
                                            <h5 class="mb-1">Sport & Games</h5> <small
                                                class="badge badge-pill badge-primary mr-2">21</small><span
                                                class="text-muted"> products</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="owl-nav">
                <button type="button" role="presentation" class="owl-prev"><span
                        aria-label="Previous">‹</span></button>
                <button type="button" role="presentation" class="owl-next"><span
                        aria-label="Next">›</span></button>
            </div>
            <div class="owl-dots disabled"></div>
        </div>
    </div>
</section>