<section class="sptb bg-white">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Favourite Shop Locations</h2>
      <!-- <p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p> -->
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 col-xl-6">
        <div class="row">
          <div class="col-sm-12 col-lg-6 col-md-6 ">
            <div class="item-card overflow-hidden">
              <div class="item-card-desc">
                <div class="card text-center overflow-hidden">
                  <div class="card-img"> <img src="assets/images/locations/germany.jpg" alt="img" class="cover-image">
                  </div>
                  <div class="item-card-text">
                    <h4 class="mb-0">4,327 Shops<span><i class="fa fa-map-marker mr-1 text-primary"></i>Balogun
                        Market</span></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-6 col-md-6 ">
            <div class="item-card overflow-hidden">
              <div class="item-card-desc">
                <div class="card text-center overflow-hidden">
                  <div class="card-img"> <img src="assets/images/locations/london.jpg" alt="img" class="cover-image">
                  </div>
                  <div class="item-card-text">
                    <h4 class="mb-0">2,145 Shops<span><i class="fa fa-map-marker mr-1 text-primary"></i>Mandilas
                        Market</span></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-6 col-md-6 ">
            <div class="item-card overflow-hidden">
              <div class="item-card-desc">
                <div class="card text-center overflow-hidden">
                  <div class="card-img"> <img src="assets/images/locations/austerlia.jpg" alt="img" class="cover-image">
                  </div>
                  <div class="item-card-text">
                    <h4 class="mb-0">263 Shops<span><i class="fa fa-map-marker text-primary mr-1"></i>Alaba
                        Market</span></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-6 col-md-6 ">
            <div class="item-card overflow-hidden">
              <div class="item-card-desc">
                <div class="card text-center overflow-hidden">
                  <div class="card-img"> <img src="assets/images/locations/chicago.jpg" alt="img" class="cover-image">
                  </div>
                  <div class="item-card-text">
                    <h4 class="mb-0">485<span><i class="fa fa-map-marker text-primary mr-1"></i>Ikeja
                        Market</span></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-xl-6 col-sm-12">
        <div class="item-card overflow-hidden">
          <div class="item-card-desc">
            <div class="card overflow-hidden">
              <div class="card-img"> <img src="assets/images/locations/losangels-1.jpg" alt="img" class="cover-image">
              </div>
              <div class="item-card-text">
                <h4 class="mb-0">825<span><i class="fa fa-map-marker text-primary mr-1"></i>Idumota Market</span>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>