<section class="sptb">
    <div class="container">
        <div class="col-md-12">
            <div class="items-gallery">
                <div class="items-blog-tab text-center">
                    <h2 class="">Zima Shops</h2>
                    <div class="items-blog-tab-heading row">
                        <div class="col-12">
                            <ul class="nav items-blog-tab-menu">
                                <li class=""><a href="#tab-1" class="active show" data-toggle="tab">All</a></li>
                                <li><a href="#tab-2" data-toggle="tab" class="">Business</a></li>
                                <li><a href="#tab-3" data-toggle="tab" class="">Beauty</a></li>
                                <li><a href="#tab-4" data-toggle="tab" class="">Real Estate</a></li>
                                <li><a href="#tab-5" data-toggle="tab" class="">Restaurants</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-1">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12">
                                    <div class="card mb-xl-0"> <span class="ribbon-1"> <span><i
                                                    class="fa fa-cutlery"></i></span> </span>
                                        <div class="item-card8-img  br-tr-7 br-tl-7"> <img
                                                src="assets/images/products/f2.png" alt="img"
                                                class="cover-image"> </div>
                                        <div class="item-card8-overlaytext">
                                            <h6 class=" fs-20 mb-0">Restaurants</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="item-card8-desc">
                                                <a href="#" class="icons mt-5"><i
                                                        class="icon icon-location-pin text-muted mr-1"></i>
                                                    Lagos</a>
                                                <h4 class="font-weight-semibold mt-3">Food &amp; Bar Restaurant
                                                </h4>
                                                <p class="mb-0">Your Legit place for the best foods ever. Our
                                                    foods are locally made and neatly prepared to your taste</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12">
                                    <div class="card mb-xl-0"> <span class="ribbon-2"> <span><i
                                                    class="fa fa-home"></i></span> </span>
                                        <div class="item-card8-img  br-tr-7 br-tl-7"> <img
                                                src="assets/images/products/h2.jpg" alt="img"
                                                class="cover-image"> </div>
                                        <div class="item-card8-overlaytext">
                                            <h6 class="bg-primary fs-20 mb-0">Real State</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="item-card8-desc">
                                                <a href="#" class="icons mt-5"><i
                                                        class="icon icon-location-pin text-muted mr-1"></i>
                                                    Lagos</a>
                                                <h4 class="font-weight-semibold mt-3">T & J Consultants</h4>
                                                <p class="mb-0">Contact us for your houses and landed
                                                    properties. We offer a range of affordable prices</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12">
                                    <div class="card mb-lg-0"> <span class="ribbon-3"> <span><i
                                                    class="fa fa-paint-brush"></i></span> </span>
                                        <div class="item-card8-img  br-tr-7 br-tl-7"> <img
                                                src="assets/images/products/j1.png" alt="img"
                                                class="cover-image"> </div>
                                        <div class="item-card8-overlaytext">
                                            <h6 class="bg-info fs-20 mb-0">Beauty Spa</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="item-card8-desc">
                                                <a href="#" class="icons mt-5"><i
                                                        class="icon icon-location-pin text-muted mr-1"></i>
                                                    Lagos</a>
                                                <h4 class="font-weight-semibold mt-3">Everworld Beauty Shop</h4>
                                                <p class="mb-0">Come and see us when you ever need to relax and
                                                    have a wondeful time. Our spa sessions are affordable and
                                                    enjoyable</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12">
                                    <div class="card mb-xl-0"> <span class="ribbon-1"> <span><i
                                                    class="fa fa-cutlery"></i></span> </span>
                                        <div class="item-card8-img  br-tr-7 br-tl-7"> <img
                                                src="assets/images/products/f2.png" alt="img"
                                                class="cover-image"> </div>
                                        <div class="item-card8-overlaytext">
                                            <h6 class=" fs-20 mb-0">Restaurants</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="item-card8-desc">
                                                <a href="#" class="icons mt-5"><i
                                                        class="icon icon-location-pin text-muted mr-1"></i>
                                                    Lagos</a>
                                                <h4 class="font-weight-semibold mt-3">Food &amp; Bar Restaurant
                                                </h4>
                                                <p class="mb-0">Your Legit place for the best foods ever. Our
                                                    foods are locally made and neatly prepared to your taste</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12">
                                    <div class="card mb-xl-0"> <span class="ribbon-2"> <span><i
                                                    class="fa fa-home"></i></span> </span>
                                        <div class="item-card8-img  br-tr-7 br-tl-7"> <img
                                                src="assets/images/products/h2.jpg" alt="img"
                                                class="cover-image"> </div>
                                        <div class="item-card8-overlaytext">
                                            <h6 class="bg-primary fs-20 mb-0">Real State</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="item-card8-desc">
                                                <a href="#" class="icons mt-5"><i
                                                        class="icon icon-location-pin text-muted mr-1"></i>
                                                    Lagos</a>
                                                <h4 class="font-weight-semibold mt-3">T & J Consultants</h4>
                                                <p class="mb-0">Contact us for your houses and landed
                                                    properties. We offer a range of affordable prices</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12">
                                    <div class="card mb-lg-0"> <span class="ribbon-3"> <span><i
                                                    class="fa fa-paint-brush"></i></span> </span>
                                        <div class="item-card8-img  br-tr-7 br-tl-7"> <img
                                                src="assets/images/products/j1.png" alt="img"
                                                class="cover-image"> </div>
                                        <div class="item-card8-overlaytext">
                                            <h6 class="bg-info fs-20 mb-0">Beauty Spa</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="item-card8-desc">
                                                <a href="#" class="icons mt-5"><i
                                                        class="icon icon-location-pin text-muted mr-1"></i>
                                                    Lagos</a>
                                                <h4 class="font-weight-semibold mt-3">Everworld Beauty Shop</h4>
                                                <p class="mb-0">Come and see us when you ever need to relax and
                                                    have a wondeful time. Our spa sessions are affordable and
                                                    enjoyable</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12">
                                    <div class="card mb-xl-0"> <span class="ribbon-1"> <span><i
                                                    class="fa fa-cutlery"></i></span> </span>
                                        <div class="item-card8-img  br-tr-7 br-tl-7"> <img
                                                src="assets/images/products/f2.png" alt="img"
                                                class="cover-image"> </div>
                                        <div class="item-card8-overlaytext">
                                            <h6 class=" fs-20 mb-0">Restaurants</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="item-card8-desc">
                                                <a href="#" class="icons mt-5"><i
                                                        class="icon icon-location-pin text-muted mr-1"></i>
                                                    Lagos</a>
                                                <h4 class="font-weight-semibold mt-3">Food &amp; Bar Restaurant
                                                </h4>
                                                <p class="mb-0">Your Legit place for the best foods ever. Our
                                                    foods are locally made and neatly prepared to your taste</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12">
                                    <div class="card mb-xl-0"> <span class="ribbon-2"> <span><i
                                                    class="fa fa-home"></i></span> </span>
                                        <div class="item-card8-img  br-tr-7 br-tl-7"> <img
                                                src="assets/images/products/h2.jpg" alt="img"
                                                class="cover-image"> </div>
                                        <div class="item-card8-overlaytext">
                                            <h6 class="bg-primary fs-20 mb-0">Real State</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="item-card8-desc">
                                                <a href="#" class="icons mt-5"><i
                                                        class="icon icon-location-pin text-muted mr-1"></i>
                                                    Lagos</a>
                                                <h4 class="font-weight-semibold mt-3">T & J Consultants</h4>
                                                <p class="mb-0">Contact us for your houses and landed
                                                    properties. We offer a range of affordable prices</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12">
                                    <div class="card mb-lg-0"> <span class="ribbon-3"> <span><i
                                                    class="fa fa-paint-brush"></i></span> </span>
                                        <div class="item-card8-img  br-tr-7 br-tl-7"> <img
                                                src="assets/images/products/j1.png" alt="img"
                                                class="cover-image"> </div>
                                        <div class="item-card8-overlaytext">
                                            <h6 class="bg-info fs-20 mb-0">Beauty Spa</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="item-card8-desc">
                                                <a href="#" class="icons mt-5"><i
                                                        class="icon icon-location-pin text-muted mr-1"></i>
                                                    Lagos</a>
                                                <h4 class="font-weight-semibold mt-3">Everworld Beauty Shop</h4>
                                                <p class="mb-0">Come and see us when you ever need to relax and
                                                    have a wondeful time. Our spa sessions are affordable and
                                                    enjoyable</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12">
                                    <div class="card mb-xl-0"> <span class="ribbon-1"> <span><i
                                                    class="fa fa-cutlery"></i></span> </span>
                                        <div class="item-card8-img  br-tr-7 br-tl-7"> <img
                                                src="assets/images/products/f2.png" alt="img"
                                                class="cover-image"> </div>
                                        <div class="item-card8-overlaytext">
                                            <h6 class=" fs-20 mb-0">Restaurants</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="item-card8-desc">
                                                <a href="#" class="icons mt-5"><i
                                                        class="icon icon-location-pin text-muted mr-1"></i>
                                                    Lagos</a>
                                                <h4 class="font-weight-semibold mt-3">Food &amp; Bar Restaurant
                                                </h4>
                                                <p class="mb-0">Your Legit place for the best foods ever. Our
                                                    foods are locally made and neatly prepared to your taste</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12">
                                    <div class="card mb-xl-0"> <span class="ribbon-2"> <span><i
                                                    class="fa fa-home"></i></span> </span>
                                        <div class="item-card8-img  br-tr-7 br-tl-7"> <img
                                                src="assets/images/products/h2.jpg" alt="img"
                                                class="cover-image"> </div>
                                        <div class="item-card8-overlaytext">
                                            <h6 class="bg-primary fs-20 mb-0">Real State</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="item-card8-desc">
                                                <a href="#" class="icons mt-5"><i
                                                        class="icon icon-location-pin text-muted mr-1"></i>
                                                    Lagos</a>
                                                <h4 class="font-weight-semibold mt-3">T & J Consultants</h4>
                                                <p class="mb-0">Contact us for your houses and landed
                                                    properties. We offer a range of affordable prices</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12">
                                    <div class="card mb-lg-0"> <span class="ribbon-3"> <span><i
                                                    class="fa fa-paint-brush"></i></span> </span>
                                        <div class="item-card8-img  br-tr-7 br-tl-7"> <img
                                                src="assets/images/products/j1.png" alt="img"
                                                class="cover-image"> </div>
                                        <div class="item-card8-overlaytext">
                                            <h6 class="bg-info fs-20 mb-0">Beauty Spa</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="item-card8-desc">
                                                <a href="#" class="icons mt-5"><i
                                                        class="icon icon-location-pin text-muted mr-1"></i>
                                                    Lagos</a>
                                                <h4 class="font-weight-semibold mt-3">Everworld Beauty Shop</h4>
                                                <p class="mb-0">Come and see us when you ever need to relax and
                                                    have a wondeful time. Our spa sessions are affordable and
                                                    enjoyable</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-5">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12">
                                    <div class="card mb-xl-0"> <span class="ribbon-1"> <span><i
                                                    class="fa fa-cutlery"></i></span> </span>
                                        <div class="item-card8-img  br-tr-7 br-tl-7"> <img
                                                src="assets/images/products/f2.png" alt="img"
                                                class="cover-image"> </div>
                                        <div class="item-card8-overlaytext">
                                            <h6 class=" fs-20 mb-0">Restaurants</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="item-card8-desc">
                                                <a href="#" class="icons mt-5"><i
                                                        class="icon icon-location-pin text-muted mr-1"></i>
                                                    Lagos</a>
                                                <h4 class="font-weight-semibold mt-3">Food &amp; Bar Restaurant
                                                </h4>
                                                <p class="mb-0">Your Legit place for the best foods ever. Our
                                                    foods are locally made and neatly prepared to your taste</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12">
                                    <div class="card mb-xl-0"> <span class="ribbon-2"> <span><i
                                                    class="fa fa-home"></i></span> </span>
                                        <div class="item-card8-img  br-tr-7 br-tl-7"> <img
                                                src="assets/images/products/h2.jpg" alt="img"
                                                class="cover-image"> </div>
                                        <div class="item-card8-overlaytext">
                                            <h6 class="bg-primary fs-20 mb-0">Real State</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="item-card8-desc">
                                                <a href="#" class="icons mt-5"><i
                                                        class="icon icon-location-pin text-muted mr-1"></i>
                                                    Lagos</a>
                                                <h4 class="font-weight-semibold mt-3">T & J Consultants</h4>
                                                <p class="mb-0">Contact us for your houses and landed
                                                    properties. We offer a range of affordable prices</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12">
                                    <div class="card mb-lg-0"> <span class="ribbon-3"> <span><i
                                                    class="fa fa-paint-brush"></i></span> </span>
                                        <div class="item-card8-img  br-tr-7 br-tl-7"> <img
                                                src="assets/images/products/j1.png" alt="img"
                                                class="cover-image"> </div>
                                        <div class="item-card8-overlaytext">
                                            <h6 class="bg-info fs-20 mb-0">Beauty Spa</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="item-card8-desc">
                                                <a href="#" class="icons mt-5"><i
                                                        class="icon icon-location-pin text-muted mr-1"></i>
                                                    Lagos</a>
                                                <h4 class="font-weight-semibold mt-3">Everworld Beauty Shop</h4>
                                                <p class="mb-0">Come and see us when you ever need to relax and
                                                    have a wondeful time. Our spa sessions are affordable and
                                                    enjoyable</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>