<section class="sptb position-relative pattern">
    <div class="container">
        <div class="section-title center-block text-center">
            <h1 class="text-white position-relative">Testimonials</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="owl-carousel testimonial-owl-carousel owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                            style="transform: translate3d(-2402px, 0px, 0px); transition: all 0s ease 0s; width: 8407px;">
                            <div class="owl-item cloned" style="width: 1176px; margin-right: 25px;">
                                <div class="item text-center">
                                    <div class="row">
                                        <div class="col-xl-8 col-md-12 d-block mx-auto">
                                            <div class="testimonia">
                                                <p class="text-white-80"><i class="fa fa-quote-left"></i> Zima
                                                    is simply the best. I've sold over a hundred items ever
                                                    since I got on Zima </p>
                                                <div class="testimonia-data">
                                                    <h3 class="title">williamson</h3> <span
                                                        class="post">Marketer</span>
                                                    <div class="rating-stars">
                                                        <input type="number" readonly="readonly"
                                                            class="rating-value star" name="rating-stars-value"
                                                            value="3">
                                                        <div class="rating-stars-container">
                                                            <div class="rating-star sm is--active"> <i
                                                                    class="fa fa-star"></i> </div>
                                                            <div class="rating-star sm is--active"> <i
                                                                    class="fa fa-star"></i> </div>
                                                            <div class="rating-star sm is--active"> <i
                                                                    class="fa fa-star"></i> </div>
                                                            <div class="rating-star sm"> <i
                                                                    class="fa fa-star"></i> </div>
                                                            <div class="rating-star sm"> <i
                                                                    class="fa fa-star"></i> </div>
                                                        </div>
                                                        <div class="owl-controls clickable">
                                                            <div class="owl-pagination">
                                                                <div class="owl-page "> <span class=""></span>
                                                                </div>
                                                                <div class="owl-page active"> <span
                                                                        class=""></span> </div>
                                                                <div class="owl-page"> <span class=""></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 1176px; margin-right: 25px;">
                                <div class="item text-center">
                                    <div class="row">
                                        <div class="col-xl-8 col-md-12 d-block mx-auto">
                                            <div class="testimonia">
                                                <p class="text-white-80"><i class="fa fa-quote-left"></i>The
                                                    Items I buy on Zima are very durable and original. I have
                                                    peace of mind whenever I'm buying stuffs from sellers on
                                                    Zima. Nice One</p>
                                                <div class="testimonia-data">
                                                    <h3 class="title">Sophie Carr</h3> <span
                                                        class="post">Student</span>
                                                    <div class="rating-stars">
                                                        <input type="number" readonly="readonly"
                                                            class="rating-value star" name="rating-stars-value"
                                                            value="3">
                                                        <div class="rating-stars-container">
                                                            <div class="rating-star sm is--active"> <i
                                                                    class="fa fa-star"></i> </div>
                                                            <div class="rating-star sm is--active"> <i
                                                                    class="fa fa-star"></i> </div>
                                                            <div class="rating-star sm is--active"> <i
                                                                    class="fa fa-star"></i> </div>
                                                            <div class="rating-star sm"> <i
                                                                    class="fa fa-star"></i> </div>
                                                            <div class="rating-star sm"> <i
                                                                    class="fa fa-star"></i> </div>
                                                        </div>
                                                        <div class="owl-controls clickable">
                                                            <div class="owl-pagination">
                                                                <div class="owl-page "> <span class=""></span>
                                                                </div>
                                                                <div class="owl-page"> <span class=""></span>
                                                                </div>
                                                                <div class="owl-page active"> <span
                                                                        class=""></span> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 1176px; margin-right: 25px;">
                                <div class="item text-center">
                                    <div class="row">
                                        <div class="col-xl-8 col-md-12 d-block mx-auto">
                                            <div class="testimonia">
                                                <p class="text-white-80"> <i
                                                        class="fa fa-quote-left text-white-80"></i> My Shop has
                                                    been getting a lot of attention ever since I registered it
                                                    on Zima Shops. My success story can never be complete
                                                    without including Zima in it. </p>
                                                <h3 class="title">Elizabeth</h3> <span class="post">Shop
                                                    Owner</span>
                                                <div class="rating-stars">
                                                    <input type="number" readonly="readonly"
                                                        class="rating-value star" name="rating-stars-value"
                                                        value="4">
                                                    <div class="rating-stars-container">
                                                        <div class="rating-star sm is--active"> <i
                                                                class="fa fa-star"></i> </div>
                                                        <div class="rating-star sm is--active"> <i
                                                                class="fa fa-star"></i> </div>
                                                        <div class="rating-star sm is--active"> <i
                                                                class="fa fa-star"></i> </div>
                                                        <div class="rating-star sm is--active"> <i
                                                                class="fa fa-star"></i> </div>
                                                        <div class="rating-star sm"> <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="owl-controls clickable">
                                                    <div class="owl-pagination">
                                                        <div class="owl-page active"> <span class=""></span>
                                                        </div>
                                                        <div class="owl-page "> <span class=""></span> </div>
                                                        <div class="owl-page"> <span class=""></span> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="owl-nav">
                        <button type="button" role="presentation" class="owl-prev"><span
                                aria-label="Previous">‹</span></button>
                        <button type="button" role="presentation" class="owl-next"><span
                                aria-label="Next">›</span></button>
                    </div>
                    <div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>
    </div>
</section>