<section>
    <div class="banner-1 cover-image sptb-2 sptb-tab bg-background2"
        data-image-src="assets/images/banners/image2.jpg"
        style="background: url(assets/images/banners/image2.jpg) center center;">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white mb-7">
                    <h1 class="mb-1">Buy easy, Sell fast</h1>
                    <p>Search from a whole lot of classified Ads & Sell Unlimited Products for free!</p>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-lg-12 col-md-12 d-block mx-auto">
                        <div class="search-background bg-transparent">
                            <div class="form row no-gutters ">
                                <div class="form-group  col-xl-6 col-lg-5 col-md-12 mb-0 bg-white ">
                                    <input type="text" class="form-control input-lg br-tr-md-0 br-br-md-0"
                                        id="text4" placeholder="Search for products, brands, shops etc."> </div>
                                <div class="form-group  col-xl-4 col-lg-4 col-md-12 mb-0 bg-white">
                                    <input type="text" class="form-control input-lg br-md-0" id="text5"
                                        placeholder="Enter Location"> <span><i
                                            class="fa fa-map-marker location-gps mr-1"></i> </span> </div>

                                <div class="col-xl-2 col-lg-3 col-md-12 mb-0"> <a href="#"
                                        class="btn btn-lg btn-block btn-red br-tl-md-0 br-bl-md-0">Search</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /header-text -->
    </div>
</section>