<!-- <div attr.data-gr-c-s-loaded="true"> -->
    <div class="horizontalMenucontainer">
        
        <!--Topbar-->
        <app-header></app-header>
        <!--Sliders Section-->
        <app-banner-section></app-banner-section>
        <!--Sliders Section-->
        <!--Categories-->
        <app-categories-section></app-categories-section>
        <!--/Categories-->
        <!--Latest Ads-->
        <app-latest-ads-section></app-latest-ads-section>
        <!--Latest Ads-->
        <!--Featured Ads-->
        <app-featured-ads-section></app-featured-ads-section>
        <!--/Featured Ads-->
        <!--Zima Ticket-->
        <app-zima-ticket-section></app-zima-ticket-section>
        <!--/Statistics-->
        <!--Zima Shop-->
        <app-zima-shop-section></app-zima-shop-section>
        <!--Testimonials-->
        <app-testimonial-section></app-testimonial-section>
        <!--/Testimonials-->
        <!--Favourite Shops Location-->
        <app-favourite-shop-location-section></app-favourite-shop-location-section>
        
        <!--Footer Section-->
        <app-footer></app-footer>
        <!--Footer Section-->
        <!-- Back to top -->
        <a href="#top" id="back-to-top"><i class="fa fa-rocket"></i></a>
    </div>
<!-- </div> -->  